@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://xunit.net/docs/getting-started/netfx/visual-studio">getting started with xUnit.net using .NET Framework</a>.</p>
</div>
